/*!
 *
 * Evgeniy Ivanov - 2018
 * busforward@gmail.com
 * Skype: ivanov_ea
 *
 */
@import 'mixins/mixin'; // Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,900); // Mixin for include fonts
@include font-face("ArialMT", 'fonts/CenturyGothic', normal, normal);
// Import files
@import 'variables/variables';
@import 'core/reset';
@import 'core/template';
@import 'core/header';
@import 'core/navbar';
@import 'core/footer';
@import 'core/form';
@import 'core/grid';
@import 'core/soc';
@import 'core/breadcrumb';
@import 'core/pagination';
@import 'core/filter';
@import 'core/buttons';
@import 'core/video';
@import 'core/aside';

@import "./vendor/slick";
@import "./vendor/modal";

@import "./components/section";
@import "./components/page";
@import "./components/homeScreen";
@import "./components/ourClients";
@import "./components/evensNews";
@import "./components/tabs";
@import "./components/products";
@import "./components/news";
@import "./components/contacts";
@import "./components/pageAction";
@import "./components/service";

@import "./singleComponents/single";
@import "./singleComponents/singlePoints";
@import "./singleComponents/singleSlider";
@import "./singleComponents/singleAdvantege";
@import "./singleComponents/singleForWhom";
@import "./singleComponents/moreProduct";
@import "./singleComponents/examples";

@import "./singleComponents/background";
@import "./singleComponents/recall";
@import "./singleComponents/ourServices";
@import "./singleComponents/singleTask";

.sliderTripple {
    &__item {}
}

.weOffer {
    position: relative;

    @media (min-width: 768px) {
        padding-bottom: 2.43em;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 2.8em 1em;

        @media (min-width: 768px) {
            margin: 0 -3.1em 0 0;
        }
    }

    &__item {
        width: calc(50% - 1em);
        display: block;
        text-decoration: none;
        color: #2B2C34;
        // white-space: nowrap;

        @media (min-width: 768px) {
            width: calc(20% - 1em);
        }
    }

    &__img {
        width: 4em;
        margin-bottom: 0.9375em;

        img {
            display: block;
        }
    }

    &__name {
        font-size: 1.1em;
        line-height: 1.48;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        margin-bottom: 0.2em;

        @media (min-width: 768px) {
            font-size: 1.375em;
        }
    }

    &__more {
        font-size: 1.125em;
        color: #5AB302;
    }

}

.circuSolutions {
    &__list {
        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            gap: 1.875em;
            margin: 0 -1.8em 8em 0;
        }
    }

    &__item {
        border: 1px solid #CECECE;
        padding: 2.25em 1.5em;
        margin-bottom: 1em;
        text-decoration: none;
        color: $main_color;
        display: block;

        @media (min-width: 768px) {
            width: calc(25% - 1.875em);
            padding: 2.25em 1.79em;
            margin-bottom: 0;
        }
    }

    &__img {
        width: 7.6875em;
        margin-bottom: 1.82em;

        @media (min-width: 768px) {
            margin-left: 0.3em;
        }

        img {
            display: block;
        }
    }

    &__text {
        font-size: 1.375em;
        line-height: 1.37;
    }

    &__tabs {
        border: 1px solid #CECECE;

        @media (min-width: 768px) {
            display: flex;
        }
    }

    &__tab {
        font-weight: 400;
        font-size: 1.375em;
        line-height: 148.8%;
        letter-spacing: 0.08em;
        // cursor: pointer;
        // user-select: none;
        padding: 0.3em 1.2em;
        color: #2B2C34;
        transition: color 0.3s;

        @media (min-width: 768px) {
            text-transform: uppercase;
            padding: 0.48em 0;
        }

        // &:hover {
        //     color: #74D414;
        // }

        b {
            color: #74D414;
            font-weight: 600;
        }
    }

    &__left {
        padding: 1em 0;

        @media (min-width: 768px) {
            border-right: 1px solid #CECECE;
            flex: none;
            width: 37.3em;
            padding: 1.8em 2.5em;
        }
    }

    &__right {
        @media (min-width: 768px) {
            flex-grow: 1;
            min-width: 0;
            display: flex;
        }
    }

    &__plate {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        background: #EDEDED;
        border-top: 1px solid #CECECE;
        border-bottom: 1px solid #CECECE;

        @media (min-width: 768px) {
            border: 0;
        }

        // &.active {
        //     display: flex;
        // }

        &Item {
            width: 50%;
            padding: 1.5em;
            flex-grow: 1;

            @media (min-width: 768px) {
                padding: 2.5em;
            }

            &:nth-child(2n) {
                border-left: 1px solid #CECECE;
            }

            &:nth-child(n+3) {
                border-top: 1px solid #CECECE;
            }
        }

        &Title {
            font-weight: 600;
            font-size: 1.25em;
            line-height: 1.3685;
            margin-bottom: 0.72em;
            color: #74D414;
        }

        &List {
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 1.125em;
            line-height: 1.4;

            li {
                margin-bottom: 0.9em;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.prefooter {
    padding: 3em 0 1.5em;
    background: radial-gradient(38.6% 73.42% at 50.76% 50%, #F7F7F7 0%, #EDEDED 100%);

    @media (min-width: 768px) {
        padding: 10.8125em 0 12.9375em;
    }

    &__contact {
        @media (min-width: 768px) {
            display: flex;
        }
    }

    &__col {
        margin-bottom: 1.5em;

        @media (min-width: 768px) {
            width: 50%;
            padding-right: 8em;
            margin-bottom: 0;
        }
    }

    &__city {
        font-weight: 500;
        font-size: 1.625em;
        line-height: 1.4;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        margin: 0 0 0.75em;
    }

    &__items {
        font-weight: 500;
        font-size: 1.125em;
        line-height: 1.4;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        a,
        span {
            margin: 0 0 0.25em;
            color: $main_color;
        }

        a {
            text-decoration-color: transparent;

            &:hover {
                text-decoration-color: inherit;
            }
        }
    }

}

.fancybox-bg {
    background-color: rgba(#3F4353 , 0.4);
}

.about.page {
    &:after {
        display: none;
    }
}

.aboutDescr {
    margin: 3em 0;
    @media (min-width: 768px) {
        margin: 6em 0;
    }

    &__content {
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
        }
    }

    &__text {
        flex: none;
        line-height: 1.5;
        margin-bottom: 3em;

        @media (min-width: 768px) {
            width: 45.3125em;
            margin-right: 1.875em;
            margin-bottom: 0;
        }
    }

    &__list {
        @media (min-width: 768px) {
            min-width: 0;
            flex-grow: 1;
            display: flex;
            margin: 0 -0.9375em;
        }
    }

    &__item {
        margin: 0 0 0.9375em;
        padding: 2.5em 1.875em;
        text-align: center;
        background: #8CD93F;
        color: $color_withe;

        @media (min-width: 768px) {
            width: calc(33.3% - 1.875em);
            margin: 0.9375em;
            padding: 2.5em 1.875em;
        }
    }

    &__num {
        font-size: 3.5em;
        line-height: 1;
        margin-bottom: 0.2em;
    }

    &__name {
        line-height: 1.25;
    }

}

.aboutSuccess {
    margin: 4em 0 0;

    @media (min-width: 768px) {
        margin: 6em 0 2.5em;
    }

    &__content {
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
        }
    }

    &__img {
        margin-bottom: 1.7em;

        @media (min-width: 768px) {
            width: 49%;
            margin-right: 90px;
            margin-bottom: 0;
            flex: none;
        }

        img {
            display: block;
            width: 100%;
        }
    }

    &__descr {
        padding-top: 0;
        padding-bottom: 1.5em;
    }

    &__title {
        font-weight: 600;
        font-size: 1.3em;
        line-height: 1.4;
        display: flex;
        align-items: baseline;
        margin-bottom: 0;

        @media (min-width: 768px) {
            font-size: 2.25em;
        }
    }

    &__num {
        font-size: 2.85em;
        margin-right: 0.3em;
    }

    &__text {
        line-height: 1.5;
    }

}

.aboutAchievements {
    @media (min-width: 768px) {
        padding-bottom: 2.3em;
    }

    &__list {
        margin: 2em 0 0;

        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            margin: 2.3em 0 1em -1.875em;
        }
    }

    &__item {
        margin-bottom: 2em;

        &:last-child {
            margin-bottom: 0;
        }

        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            padding-left: 1.875em;
            margin-bottom: 0;
            width: 50%;
        }
    }

    &__doc {
        flex: none;
        width: 12.1875em;
        padding: 0.75em 0.4375em;
        background: #FFFFFF;
        box-shadow: 0 20px 80px rgba(0, 0, 0, 0.08);
        margin: auto;

        @media (min-width: 768px) {
            margin: 0;
        }

        img {
            display: block;
        }
    }

    &__name {
        background: radial-gradient(38.6% 73.42% at 50.76% 50%, #F7F7F7 0%, #EDEDED 100%);
        padding: 1em;
        font-size: 1.5em;
        line-height: 1.39;
        letter-spacing: 0.08em;
        font-weight: 500;
        color: #3F4353;
        text-align: center;

        @media (min-width: 768px) {
            text-align: left;
            height: 8.57em;
            padding: 2.75em 2.75em 2.65em 1.75em;
            flex-grow: 1;
            min-width: 0;
            display: flex;
            align-items: center;
            text-transform: uppercase;
        }
    }

}

.aboutClient {
    margin: 2em 0;
    @media (min-width: 768px) {
        margin: 2.1em 0;
    }

    .ourClients__item {
        @media (min-width: 768px) {
            height: 12.9em;
        }
    }
}

.aboutJob {
    background: #EDEDED;
    border: 1px solid #CECECE;
    overflow: hidden;
    position: relative;
    padding: 1.3em;

    @media (min-width: 768px) {
        margin: 1.15em 0;
        padding: 4em 6.6em 4em 4.5em;
        min-height: 20.6em;
    }

    &__content {
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__left {

        @media (min-width: 768px) {
            flex: none;
            width: 43.25em;
        }
    }

    &__text {
        margin-top: 1.2em;
        line-height: 1.5;
        font-size: 1.125em;
    }

    &__right {
        padding: 3em 1em 2em;

        @media (min-width: 768px) {
            padding: 2.2em 0 0;
        }

        &:before {
            content: '';
            width: 950px;
            height: 950px;
            border-radius: 50%;
            display: block;
            position: absolute;
            opacity: 0.3;
            border: 1px solid #A9A9A9;
            transform: translate(-50%, -50%);
        }

        .button {
            @media (min-width: 768px) {
                font-size: 0.87em;
            }
        }

        .btn {
            &:before {
                @media (min-width: 768px) {
                    font-size: 0.85em;
                }
            }
        }
    }

}
