// Breadcrumb ==================================================================

.breadcrumb {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	padding: 1em 0;
	@media (min-width: 768px) {
		padding: 2.875em 0 3em;
	}

	li {
		display: inline-block;
		display: flex;
		align-items: center;

		&:not(:first-child) {
			&:before {
				content: '\2014';
				display: inline-block;
				margin: 0 0.76em;
				color: inherit;
				font-size: 1.1037em;
			}
		}

		a {
			font-size: 0.8125em;
			color: #262F1D;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
