// Style for button and pseudo button for input and link

.btn {
	position: relative;
	color: $btn_default_text_color;
	font-family: $main_font_family;
	font-size: 1.25em;
	font-weight: 500;
	// padding: 5px 15px 7px;
	border: none;
	outline: none;
	text-decoration: none;
	display: inline-block;
	background-color: transparent;
	text-align: center;
	max-width: 100%;
	cursor: pointer;
	transition: 0.3s;
	transition-property: background color border-color;

	span {
		position: relative;
		z-index: 2;
	}

	&:after,
	&:before {
		content: '';
		position: absolute;

		display: block;
		border-radius: 50%;
		transform: scale(1);
		transition: transform 0.3s;
	}

	&:before {

		top: -14.2em;
		left: -14.2em;
		width: 30em;
		height: 30em;
		border: 1px solid rgba(#262f1d, .15);
		pointer-events: none;
	}

	&:after {
		background: url("../img/patternGif.gif");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		top: -1.09em;
		left: -1em;

		width: 3.5em;
		height: 3.5em;

		z-index: 1;

		@media (min-width: 768px) {
			top: -2.2em;
			left: -2.2em;
			width: 5.619em;
			height: 5.619em;
		}
	}

	&:hover {

		@media (min-width: 768px) {
			&:after,
			&:before {
				transform: scale(1.6);
			}
		}
	}

	&:active,
	&:focus {}

	&_lg {
		&:before {
			top: -16em;
			left: -16em;
			width: 30em;
			height: 30em;

			@media (min-width: 768px) {
				top: -23.2em;
				left: -23.2em;
				width: 46.9375em;
				height: 46.9375em;

			}
		}

		&:after {
			top: -2em;
			left: -2em;
			width: 5em;
			height: 5em;

			@media (min-width: 768px) {
				top: -4em;
				left: -5.1em;
				width: 9.249em;
				height: 9.249em;

			}

		}
	}

}
