/* Header
 ----------------------------------------------------------------------------- */
.header {
	padding: 1.21em 0;
	background: #F8F8F8;

	@media (min-width: 768px) {
		padding: 1.4375em 0 0.59em;
	}

	&__content {
		// @extend .container_center;
		padding: 0 1em;
		margin: 0 1em;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (min-width: 768px) {
			margin: 0 2.6em 0 12.2em;
		}
	}

	&__logo {}

	&__nav {
		padding-bottom: 0.4em;

		@media (max-width: 767px) {
			display: flex;
			flex-direction: column;
		}
	}

	&__right {
		font-size: 1.4em;
		border-top: 1px solid rgba($color_withe, 0.2);
		padding-top: 1.4em;

		@media (min-width: 768px) {
			display: flex;
			align-items: center;
			font-size: 1em;
			padding-top: 0;
			border-top: 0;
		}

		a {
			color: $color_withe;

			@media (min-width: 768px) {
				color: #3F4353;
			}
		}
	}

	&__soc {
		margin: 0 0 0.9375em;

		@media (min-width: 768px) {
			margin: 0 0.9375em 0 0;
		}
	}

	&__print {
		text-decoration-color: inherit;
		margin: 0 1.5em 0.3em 0;

		&:hover {
			text-decoration-color: transparent;
		}
	}

	&__tel {
		font-weight: 500;
		font-size: 1.26em;
		text-decoration-color: transparent;
		margin-bottom: 0.4em;

		&:hover {
			text-decoration-color: inherit;
		}
	}

	&__partner {
		margin-left: 3.2em;
	}
}

// stiky menu
.stiky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.logo {
	width: 9.0625em;
}

.navbar {
	&__item {}

	&__link {}

}

.soc {}