footer.footer
    .footer__top
        .footer__content
            .footer__logo
                a.logo(href="/")
                    img(src="img/logo_footer.svg", alt="")

            .footer__descr Делаем более доступным и удобным, освоение любых знаний и навыков <br>для самореализации любого человека, независимо от способностей и географии

    .footer__middle
        .footer__content
            .footer__col
                .footer__title Продукты
                .footer__nav
                    ul
                        li
                            a(href="#") CDO. Электронная Информационная Образовательная Среда
                        li
                            a(href="#") CDO. Мобильное приложение 
                        li
                            a(href="#") CDO. Электронная Приемная Комиссия
                        li
                            a(href="#") CDO. Портал Сотрудника
                        li
                            a(href="#") 1С: Автоматизированное составление расписания. Колледж
                        li
                            a(href="#") 1С: Колледж Проф
                        li
                            a(href="#") 1С: Автоматизированное составление расписания. Университет
                        li
                            a(href="#") 1С: Университет Проф
                        li
                            a(href="#") 1С: Управление учебным центром

            .footer__col
                .footer__title Услуги
                .footer__nav
                    ul
                        li
                            a(href="#") Аудит
                        li
                            a(href="#") 1с-разработка
                        li
                            a(href="#") Web-разработка 
                        li
                            a(href="#") Moodle-разработк
                        li
                            a(href="#") Мобильная разработка
                        li
                            a(href="#") Сопровождение
                        li
                            a(href="#") Консалтинг
                        li
                            a(href="#") Кибер-безопасность
                        li
                            a(href="#") Нейросети

            .footer__col
                .footer__menu
                    ul
                        li
                            a(href="#") Работы
                        li
                            a(href="#") Проекты
                        li
                            a(href="#") Услуги
                        li
                            a(href="#") О нас
                        li
                            a(href="#") Новости
                        li
                            a(href="#") Контакты

            .footer__col
                .footer__title Контакты
                .footer__contact
                    a(href="tel: +7 (495) 777-37-93") +7 (495) 777-37-93
                    a(href="mailto: info@cdo-global.ru") info@cdo-global.ru
                    span 390000, г. Рязань, ул. Право-Лыбедская, д. 40,  оф. 32
                    .soc
                        a(href="#", target="_blank")
                            img(src="img/facebook.svg", alt="")
                        a(href="#", target="_blank")
                            img(src="img/insta.svg", alt="")
                        a(href="#", target="_blank")
                            img(src="img/twitter.svg", alt="")
                        a(href="#", target="_blank")
                            img(src="img/vk.svg", alt="")

    .footer__bottom
        .footer__content
            span © CDO Global 2001-2021
            a(href="#") Политика конфиденциальности
