script(src="js/jquery.js")
script(src="js/slick.min.js")
script(src="js/modal.js")
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_ru&apikey=*7494e3e7-008f-4e03-bd72-31a4650591f7" type="text/javascript">
    </script>
script(src="js/map.js?"+version+"")
script(src="js/function.js?"+version+"")
