.background {
    &__bg {
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 18em;
        margin-bottom: 3em;

        @media (min-width: 768px) {
            margin-bottom: 6.25em;
            min-height: 24.125em;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(#111118, .6);
        }

        &_flex {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__content {
        position: relative;
        z-index: 1;
        color: $color_withe;
    }

    &__title {
        font-size: 2em;
        font-weight: normal;
        line-height: 1.3;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        margin: 0;
        max-width: 21.1em;
        text-align: center;

        @media (min-width: 768px) {
            font-size: 3.5em;
        }

        &_sm {
            @media (min-width: 768px) {
                font-size: 2.75em;
            }
        }

    }

    &__top {
        position: relative;
        padding: 4.5em 11.875em;

        h2 {
            margin: 0 auto;
        }
    }

    &__bottom {
        border-top: 1px solid rgba($color_withe, .3);
        padding: 3.75em;
        /* 60/16 */

        display: flex;
        justify-content: center;
    }

    &__logo {
        position: absolute;
        top: 5em;
        left: 4.625em;
        width: 6.25em;
        height: 6.25em;

        img {
            display: block;
            object-fit: cover;
            width: 100%;
            // height: 100%;
        }

    }

    &__item {
        text-align: center;
        // border: 1px solid #fff;
        margin: 0 4em;
    }

    &__number {
        // border: 1px solid #fff;
        font-size: 3.5em;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 0.08em;

    }

    &__description {}

}
