.ourServices {
    &__content {
        @media (min-width: 768px) {
            display: flex;
        }
    }

    &__item {
        border: 1px solid #CECECE;
        padding: 1.875em;

        @media (max-width: 767px) {
            &:nth-child(n+2) {
                border-top: 0;
            }
        }

        @media (min-width: 768px) {
            width: 33.3%;

            &:nth-child(n+2) {
                border-left: 0;
            }

        }
    }

    &__number {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.188em;
        height: 2.188em;
        border-radius: 50%;
        font-size: 1.875em;
        font-weight: 600;
        background-color: $color_success;
        color: $color_withe;
        margin-bottom: 0.9281em;

    }

    &__title {
        color: $second_color;
        font-size: 1.25em;
        font-weight: 600;
        line-height: 1.36;
    }

    ul {
        margin: 0.75em 0 0;
        padding: 0 0 0 1em;
        color: $second_color;

    }

    li {
        line-height: 1.36;
        margin-bottom: 0.5em;

        @media (min-width: 768px) {
            margin-bottom: 0.824em;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}
