.singleTask {
    padding: 1.875em 0;

    &__content {

        @media (min-width: 768px) {
            display: flex;
            gap: 1.875em;
        }
    }

    &__item {
        padding: 2.125em;
        background-color: #EEEEEE;
        color: $second_color;
        margin-bottom: 1em;

        @media (min-width: 768px) {
            padding: 3.125em;
            width: 50%;
            margin-bottom: 0;
        }

        .section__title {
            margin-bottom: 0.226em;
        }

        &_success {
            background-color: $color_success;
            color: $color_withe;

            .section__title {
                color: $color_withe;
            }
        }
    }

    &__text {
        line-height: 1.36;
    }

}
