extends layout/layout.pug

block content
    .container_center
        ul
            li
                a(href="home.html") Главная
            li
                a(href="about.html") О нас
            li
                a(href="products.html") Продукты
            li
                a(href="news.html") Новости
            li
                a(href="contacts.html") Контакты
            li
                a(href="single.html") Страница одного продукта
            li
                a(href="singleProject.html") Страница одного проекта
            li
                a(href="singleNews.html") Шаблон одной новости
            li
                a(href="service.html") Услуги
            li
                a(href="projects.html") Проекты
            li
                a(href="singleService.html") Страница одной услуги
            li
                a(href="modal.html") Модальные окна
