mixin breadcrumb(link)
    ul.breadcrumb
        each item in link
            li
                a(href="")=item



mixin form()
    .form__inner
        h2.form__title Напишите нам
        form.form.form_grid(action="")
            .form__row.form__row_full
                label(for="name") Имя
                input(type="text" id="name")
            .form__row
                label(for="email") Email
                input(type="email" id="email")
            .form__row
                label(for="phone") Телефон
                input(type="number" id="phone")
            .form__row.form__row_full
                .form__text
                    .form__img
                        img(src="img/lock.svg", alt="alt")
                    span Мы безопасно храним данные и никому их не передаём, вот 
                        a(href="#" target="_blank") условия.
            .form__button
                .button
                    button.btn(type="submit") 
                        span Отправить запрос
