extends layout/layout.pug

block content
    .single.single_mb
        .container_center
            +breadcrumb(['Главная', 'Продукты', 'CDO.ЭИОС'])

        // begin background
        section#background.background
            .container_center
                .background__bg.background__bg_flex(style="background-image: url('img/single-bg-2.jpg')")
                    .background__content
                        h2.background__title.background__title_sm ИС управление приемной компанией и настройке ЛК
        // end background

        .single__content
            .container_center.container_center_sm
                h2 ИС управление приемной компанией и настройке ЛК

                p ООО «ЦДО», официальный партнер фирмы «1С», Центр компетенции по образованию, осуществляет поставки программных продуктов и услуги по автоматизации образовательных организаций по всей России. Мы имеем огромный опыт по внедрению таких информационных систем, как «1С: Университет» по всей России. Наши сотрудники – это профессионалы своего дела, которые сертифицированы по конфигурации «1С: Университет», обладатели сертификатов «1С Эксперт», «1С Специалист по платформе» и других дипломов, подтверждающих высокую квалификацию специалистов.
                p В данный момент наша компания занимается разработкой инновационного продукта-платформы дополненной и виртуальной реальности для подбора и демонстрации 2D и 3D-объектов при помощи нейронных сетей.
                p Суть проекта заключается в создании инновационного продукта- совершенного дизайнера с искусственным интеллектом, позволяющего решать проблемы:
                p ООО «ЦДО», официальный партнер фирмы «1С», Центр компетенции по образованию, осуществляет поставки программных продуктов и услуги по автоматизации образовательных организаций по всей России.

                p
                    b Вы узнаете:

                ul
                    each item in ['Руководитель органа управления образованием и его заместители;', 'Руководители отделов органа управления образованием;', 'Сотрудники отделов органа управления образованием;', 'Сотрудники подведомственных учреждений;', 'Другие работники органа управления образованием.']

                        li=item

                h2 Подробнее о проекте



                p Программа «1С:Управление образования» предназначена для внедрения в муниципальном органе управления образованием (например: Департамент, Комитет, Управление и т.д.). Для работы с базой данных можно использовать файловый или клиент-серверный варианты развертывания, в том числе работать через веб-клиент, т.е. обращаться к базе данных через любой популярный браузер.

                p В подведомственных образовательных учреждениях в зависимости от типа учреждения целесообразно внедрять следующие программы:

                p «1С:Дошкольное учреждение» – в дошкольных учреждениях образования;

                p «1С:Общеобразовательное учреждение» – в общеобразовательных учреждений, в том числе частных образовательных учреждениях и учреждениях дополнительного образования (например, музыкальная школа и т.д.);
                p «1С:Колледж» – в учреждениях среднего профессионального образования.

                p Использование специализированных программных продуктов «1С» на уровне подведомственных образовательных учреждений позволит сотрудникам органа управления образованием в любой момент получать актуальную информацию о деятельности учреждений с любой степенью детализации, а также получать в электронном виде и формировать сводную консолидированную отчетность.

                p Между системой «1С:Управление образования» и решениями для подведомственных учреждений («1С:Дошкольное учреждение», «1С:Общеобразовательное учреждение», «1С:Колледж») может осуществляется синхронизация данных с использованием механизма веб-сервиса. Данный механизм позволяет работать с данными подведомственных учреждений в режиме веб-сервисов, когда создается единое информационное пространство органа управления образованием и всех образовательных учреждений, при этом данные подведомственных учреждений не хранятся в базе данных системы «1С:Управление образования».
