extends layout/layout.pug

block content
    .single
        .container_center
            +breadcrumb(['Главная', 'Проекты', 'Разработка WEB-приложения  «Молодые кадры МГОУ»'])

        // begin background
        section#background.background.background_mb-none
            .container_center
                .background__bg(style="background-image: url('img/single-bg-3.jpg')")
                    .background__content
                        .background__top
                            h2.background__title.background__title_sm Разработка WEB-приложения  «Молодые кадры МГОУ»
                            .background__logo
                                img(src="img/bgLogo.png", alt="alt")
                        .background__bottom
                            each item in [ {number: '13', description: 'факультетов и институтов', }, {number: '>1200', description: 'обучающихся', } ,{number: '>650', description: 'преподавателей', } ]
                                .background__item
                                    .background__number=item.number
                                    .background__description=item.description

        // end background

        // begin singleTask
        section#singleTask.singleTask.section
            .container_center
                .singleTask__content

                    .singleTask__item
                        h2.section__title.section__title_md Задачи проекта
                        .singleTask__text ООО «ЦДО», официальный партнер фирмы «1С», Центр компетенции по образованию, осуществляет поставки программных продуктов и услуги по автоматизации образовательных организаций по всей России. Мы имеем огромный опыт по внедрению таких информационных систем, как «1С: Университет» по всей России. Наши сотрудники – это профессионалы своего дела, которые сертифицированы по конфигурации «1С: Университет», обладатели сертификатов «1С Эксперт», «1С Специалист по платформе» и других дипломов, подтверждающих высокую квалификацию специалистов.
                    .singleTask__item.singleTask__item_success
                        h2.section__title.section__title_md Решение
                        .singleTask__text ООО «ЦДО», официальный партнер фирмы «1С», Центр компетенции по образованию, осуществляет поставки программных продуктов и услуги по автоматизации образовательных организаций по всей России. Мы имеем огромный опыт по внедрению таких информационных систем, как «1С: Университет» по всей России. Наши сотрудники – это профессионалы своего дела, которые сертифицированы по конфигурации «1С: Университет», обладатели сертификатов «1С Эксперт», «1С Специалист по платформе» и других дипломов, подтверждающих высокую квалификацию специалистов.


        // end singleTask

        // begin pageAction
        section#pageAction.pageAction.section
            .container_center
                .pageAction__wrap
                    .pageAction__content
                        .pageAction__description продуктЫ, использованныЕ При разработке  
                        h3.section__title.section__title_sm «1С: Предприятие»,<br> CDO. Электронная Информационная Образовательная Среда, «1С:Университет ПРОФ», «1С: бухгалтерия»
                    .pageAction__button
                        button.btn.btn_success(type="submit") 
                            span Хочу  так же
        // end pageAction



        .single__content
            .container_center.container_center_sm
                h2 Подробнее о проекте


                p ООО «ЦДО», официальный партнер фирмы «1С», Центр компетенции по образованию, осуществляет поставки программных продуктов и услуги по автоматизации образовательных организаций по всей России. Мы имеем огромный опыт по внедрению таких информационных систем, как «1С: Университет» по всей России. Наши сотрудники – это профессионалы своего дела, которые сертифицированы по конфигурации «1С: Университет», обладатели сертификатов «1С Эксперт», «1С Специалист по платформе» и других дипломов, подтверждающих высокую квалификацию специалистов.
                p В данный момент наша компания занимается разработкой инновационного продукта-платформы дополненной и виртуальной реальности для подбора и демонстрации 2D и 3D-объектов при помощи нейронных сетей.
                p Суть проекта заключается в создании инновационного продукта- совершенного дизайнера с искусственным интеллектом, позволяющего решать проблемы:
                p ООО «ЦДО», официальный партнер фирмы «1С», Центр компетенции по образованию, осуществляет поставки программных продуктов и услуги по автоматизации образовательных организаций по всей России. Мы имеем огромный опыт по внедрению таких информационных систем, как «1С: Университет» по всей России. Наши сотрудники – это профессионалы своего дела, которые сертифицированы по конфигурации «1С: Университет», обладатели сертификатов «1С Эксперт», «1С Специалист по платформе» и других дипломов, подтверждающих высокую квалификацию специалистов.
                p В данный момент наша компания занимается разработкой инновационного продукта-платформы дополненной и виртуальной реальности для подбора и демонстрации 2D и 3D-объектов при помощи нейронных сетей.
                p Суть проекта заключается в создании инновационного продукта- совершенного дизайнера с искусственным интеллектом, позволяющего решать проблемы


        // begin recall
        section#recall.recall.section
            .container_center
                .recall__wrap
                    .recall__content
                        h2.recall__title Отзыв Московского Государственного Университета
                        .recall__text        
                            p Деятельность Российского Международного Олимпийского университа ориентирована на подготовку высококвалифицированных специалистов в области спортивного менеджмента для российской и мировой индустрии спорта, олимпийского и паралимпийского движения.
                            p Российский университет кооперации имеет право на осуществление образовательной деятельности по образовательным программам среднего
                    .recall__image
                        <a href="img/recall.jpg" data-fancybox data-type="image" data-caption="">
                            <img src="img/recall-min.jpg" />
                        </a>


        // end recall

        // begin interest
        section#interest.interest.section
            .container_center
                h2.section__title Вас может заинтересовать

                .sliderTripple
                    each item, i in ['ИС управление приемной компанией и настройке ЛК', 'ИС управление приемной компанией и настройке ЛК', 'ИС управление приемной компанией и настройке ЛК', 'ИС управление приемной компанией и настройке ЛК']

                        a(href="#").news__link
                            .news__img
                                img(src="img/event-"+(i+1)+".jpg", alt="alt")
                            .news__date
                                span 25.02.2022
                            h3.news__title=item

        // end interest

        // begin single__form
        section#single__form.single__form.section
            .container_center
                +form

        // end single__form
