extends layout/layout.pug

block content
    .single
        .single__header
            .container_center
                +breadcrumb(['Главная', 'Продукты', 'CDO.ЭИОС'])

                .single__title.single__title_service
                    .image
                        img(src="img/home-list-5.svg", alt="alt")
                    h1 1с-разработка

        .container_center

            .single__main
                .aside.aside_lg
                    ul
                        li
                            a(href="#") Аудит
                        li.current
                            a(href="#") 1с-разработка
                        li
                            a(href="#") Web-разработка
                        li
                            a(href="#") Moodle-разработка
                        li
                            a(href="#") Сопровождение
                        li
                            a(href="#") Консалтинг
                        li
                            a(href="#") Кибер-безопасность
                        li
                            a(href="#") Нейросети

                .single__content

                    h2 Описание услуги

                    p «<b>1С-Разработка</b> – это индивидуальная адаптация и расширение функционала платформы под особенности и потребности именно Вашей организации. Реализация проектов доступна на базе всех продуктов 1С: 1С:Университет, 1С:Колледж, 1С:Автоматическое составление расписания и других. Сертифицированные разработчики CDO Global проводят крупномасштабные и точечные доработки конфигураций или систем.»

                    // begin ourServices
                    section#ourServices.ourServices.section
                        h3.section__title.section__title_xs Наши услуги
                        .ourServices__content
                            .ourServices__item
                                .ourServices__number 1
                                .ourServices__title Внедрение и запуск
                                ul
                                    each item in ['Установка и настройка конфигураций','Перенос и выверка данных','Загрузка справочников и классификаторов','Создание и настройка прав доступа ','Настройка параметров учёта и учётной политики','Создание и доработка отчётных форм, документов, печатных фор', ]
                                        li=item

                            .ourServices__item
                                .ourServices__number 2
                                .ourServices__title Доработка и сопровождение:
                                ul
                                    each item in ['Разработка расширений для конфигураций 1С','Обучение по работе с системами 1С','Сопровождение систем 1С','бновление систем 1С' ]
                                        li=item

                            .ourServices__item
                                .ourServices__number 3
                                .ourServices__title Настройка интеграций
                                ul
                                    each item in ['С внешними платформами и сервисами, в том числе, с Moodle, системами СКУД и другими ','С системами на базе 1С, в том числе, 1С:Университет, 1С:Колледж, 1С:Автоматизированное составление расписания, 1С:Зарплата и управление персоналом, 1С:Бухгалтерия, 1С:Документооборот и другими' ]
                                        li=item
                    // end ourServices

        // begin single__form
        section#single__form.single__form.section
            .container_center
                .form__inner
                    h2.form__title Напишите нам
                    form.form.form_grid(action="")
                        .form__row.form__row_full
                            label(for="name") Имя
                            input(type="text" id="name")
                        .form__row
                            label(for="email") Email
                            input(type="email" id="email")
                        .form__row
                            label(for="phone") Телефон
                            input(type="number" id="phone")
                        .form__row.form__row_full
                            .form__text
                                .form__img
                                    img(src="img/lock.svg", alt="alt")
                                span Мы безопасно храним данные и никому их не передаём, вот 
                                    a(href="#" target="_blank") условия.
                        .form__button.form__button_md
                            .button
                                button.btn.btn_md.btn_center.btn_white(type="submit") 
                                    span Отправить запрос

        // end single__form
